/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#search {
    height:40px;
}

#title {
    font-size: 25px;
    font-family: Arial;
}

#criteria {
    font-size: 25px;
    font-family: Arial;
    border: 1px solid;
}

input[type="button"] {
    font-size: 25px;
    font-family: Arial;
    border: 1px solid;
}

#contact {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    font-size: large;
    font-family: Arial;
}